/.bundle/
/vendor/bundle/
/node_modules/
/tmp/
/log/
/.DS_Store

/sandbox/log/*
/sandbox/tmp/*
!/sandbox/log/.keep
!/sandbox/tmp/.keep
/sandbox/storage/*
!/sandbox/storage/.keep
/sandbox/node_modules/
/sandbox/public/assets/
/sandbox/public/vite-dev/
/sandbox/.bundle/
/sandbox/config/master.key

/packages/cli/node_modules/
