<%= ui_alert do %>
  <div class="flex gap-3">
    <%= ui_icon("terminal", class: "mt-0.5") %>
    <div class="grid gap-1">
      <p class="font-medium leading-none">Heads up!</p>
      <p class="text-sm text-muted-foreground">Você pode adicionar componentes ao seu app com bin/sync_registry.</p>
    </div>
  </div>
<% end %>
