<div class="flex flex-wrap items-center gap-2">
  <%= ui_badge { "Badge" } %>
  <%= ui_badge(variant: :secondary) { "Secondary" } %>
  <%= ui_badge(variant: :destructive) { "Destructive" } %>
  <%= ui_badge(variant: :outline) { "Outline" } %>
</div>
