<div class="flex items-start gap-2">
  <%= ui_checkbox(id: "checkbox-newsletter", checked: true, class: "mt-0.5") %>
  <div class="grid gap-1">
    <%= ui_label(for: "checkbox-newsletter") { "Receber novidades" } %>
    <p class="text-sm text-muted-foreground">Enviamos no máximo um email por semana.</p>
  </div>
</div>
