<div class="group grid w-full max-w-sm gap-2" data-disabled="true">
  <%= ui_label(for: "label-demo-disabled") { "Email" } %>
  <%= ui_input(type: :email, id: "label-demo-disabled", placeholder: "voce@exemplo.com", disabled: true) %>
</div>
