<%= form_with url: "#", scope: :settings do |form| %>
  <div class="flex items-center gap-2">
    <%= ui_switch(name: form.field_name(:marketing), id: form.field_id(:marketing), value: "1") %>
    <%= ui_label(for: form.field_id(:marketing)) { "Receber emails de marketing" } %>
  </div>
<% end %>
